/* CSS Id Selector */
#heading {
    color: green;
}

/* CSS Class Selector */
.heading {
    color: green;
}

/* CSS Element Selector */
h1 {
    color: green;
}

/* CSS Group Selector */
h2, h3, h4 {
    color: orange;
}

/* CSS Universal Selector */
* {
    font-size: smaller;
}